
* {
  box-sizing: border-box;
}

#Chao{
  padding-left:25%;
}

.login {
  padding-top: 30px;
  padding-bottom: 50px;
}

input[type=text], input[type=password],input[type=email],input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.row input[type=submit] {
  width:110px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit],#modify {
  width: 88px;
  background-color: #ff6344;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}
#modify {
  width: 110px;
}
#modify:hover {
  background-color: #45a049;
  width: 110px;
}

.container{
  width:50%;
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
}
.login {
  background-color: #f2f2f2;
  margin-bottom: 30px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.pass {
  display: none;
}

.goods {
  margin-left: 25%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

