* {
	box-sizing: border-box;
}

.row {
	margin: 0px;
	padding: 0px;
}

.container-fluid {
	padding-left:0px;
	padding-right: 0px;
}

.header-top {
	height:45px;
	padding:5px 0px 5px 0px;
	background-color: #083645;
	color:white;
}
.left {
	padding-right: 5px;
	float: right;
}

.header-top i {
	padding-right: 100px;
	font-size: 30px;
}

.header-top input{
	font-size: 18px;
	color: #ff6344;
	height:30px;
	border: none;
	background-color: #083645;
}
.header-top input:hover {
	color:white;
}
input:focus {
	outline: none;
}

.header-bot {
	padding: 20px 0;
	background-color: #003e52;
	color:white;
	border-radius: 2px;
}

.header-bot i {
	color: #ff6344;
	padding-left: 62%;
	font-size: 50px;
	cursor: pointer;
}

.header-bot .col-md-5{
	padding-right:0px;
	padding-left: 0px;
	padding-top:4px;
}

.header-bot .col-md-4 {
	padding-left:0px;
	padding-right: 0px;
	padding-top:4px;
}

.header-bot input {
	width: 100%;
	height: 43px;
}

.header-bot input[type=text] {
	padding-left: 30px;
	color:black;
}

.header-bot button {
	height: 43px;
}
.col-md-4 i {
	padding-left:0%;
	font-size: 30px;
	padding-top: 4px;
}


.btn-group-vertical{
	width: 222px;
}

.dropdown-menu a {
	width: 222px;
	text-align: center;
}

.footer h4 {
	text-transform: uppercase;
	border-bottom: solid 1px #c0c0c0;
}
.fixDisplay {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #c0c0c0;
}
.details {
	padding-top: 120px;
	padding-bottom: 10px;
	border-bottom: solid 1px #c0c0c0;
}
.nameProduct {
	font-family: Arial;
	font-weight: bold;
}
.gia {
	color: #FFCC66;
	border-bottom: none;
}

.table-bordered {
	width: 100%;
}

.table-bordered img{
	width: 250px;
}

.table-bordered i {
	float: right; 
	padding-right: 7px; 
	font-size: 30px;
}

.control {
	font-size: 20px;
	padding-left: 69%;
}

.footer {
	color: white;
	background-color: #083645;
	border-top: solid 1px #c0c0c0;
	padding: 40px 80px 40px 80px;
}

div.ss input {
	width: 100%;
	height: 30px;
	border-radius: 4px;
}
div.ss{
	margin: 5px;
	float: left;
	width: 150px;
}

input[type="list"]{
	border-radius: 2px;
}

.inform{
	margin-top:50px;
	margin-bottom: 50px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #0091ac;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button {
	color:yellow;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.button {
	text-align: center;
	font-size: 15px;
	margin:30px 2px;
}
.button button {
	width:130px;
	border-radius: 15px;
}
.pl p {
	font-size: 20px;
	font-style: light;
	font-family: roboto;
	color: #c5a67d
}
.text1 p{
	color: #888888;
	font-size: 18px;
	font-style: regular;
	font-family: roboto;
}
.age {
	height: 45px;
    width: 215px;
    border :2px solid #e1e1e1;
    border-radius: 5px;
    text-align: center;
}
.age1 {
	height: 45px;
	width: 115px;
	border : 2px solid #e1e1e1;
	margin-left: 7px;
	border-radius: 5px;
	text-align: center;
}

.quantity{
	width: 35px;
	text-align: center;
	border-radius: 5px;
}

.delete-row{
	border:solid 1px #c0c0c0;
	border-radius: 5px;
	background-color: white;
}
.delete-row:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.shop-table{
	position: relative;width: 100%;border-collapse: separate;
}
.shop-table th{
	font-size: 16px;padding: 5px;text-align: center;
}
.shop-table tbody td{
	text-align: center;
	border: 1px solid #E1E1E1;
	vertical-align: middle;
	padding: 10px;
	border-left: none;
}
.shop-table tbody tr td:first-child{
	border-left: 1px solid #E1E1E1;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}
.shop-table tbody tr td:last-child{
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}
.shop-table tr{
	width: 100%;
	display: table;
	margin-bottom: 15px;
}
.shop-table th:first-child, .shop-table td:first-child{
	width: 15%;
}
.shop-table th:nth-child(2), .shop-table td:nth-child(2){
	width: 45%;
}
.shop-table th:nth-child(3), .shop-table td:nth-child(3), .shop-table th:nth-child(4), .shop-table td:nth-child(4), .shop-table th:nth-child(5), .shop-table td:nth-child(5), .shop-table th:nth-child(6), .shop-table td:nth-child(6){
	width: 10%;
}
.shop-table img{
	max-height: 130px;
}
/*color*/
.light-red{
	color: #fe5252;
}
.gray{
	color: #CCC;
}
.red{
	color: #ff3a3a;
}
.red-bg{
	background: #ff3a3a;
}
.yellow-bg{
	background: #fcff19;
}
.black-bg{
	background: #353535;
}
.gray-bg{
	background: #CCC;
}
.pink-bg{
	background: #ff26cf;
}
.dkpink-bg{
	background: #5c2c5d;
}
.chocolate-bg{
	background: #520000;
}
.chocolatelight-bg{
	background: #9a5b3b;
}
.biscuit-bg{
	background: #8e665e;
}
.lightgreen-bg{
	background: #84e25a;
}
.extra-lightgreen-bg{
	background: #b1cb5e;
}
.off-white-bg{
	background: #b1cb5e;
}
.orange-bg{
	background: #ff5313;
}

.shop-details{
	position: relative;
	text-align: left;
	padding: 0 10px;
}
.shop-details .productname{
	text-align: left;
	font-weight: 400;
}

.shop-details .color-choser{
	position: relative;
}
.shop-details .text{
	float: left;
	padding: 2px 15px 5px 0;
}
.shop-details .color-choser li{
	display: inline-block;
	margin: 0 5px 5px 0;
}
 .color-choser li{
	display: inline-block;
	margin: 0 5px 5px 0;
}

.shop-details .color-choser li a{
	float: left;
	width: 16px;
	height: 16px;
	font-size: 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top:3px;
}
.color-choser li a{
	float: left;
	width: 16px;
	height: 16px;
	font-size: 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top:3px;
}
.productname {
	padding-bottom: 15px;
}

.pull-left, .pull-right {
	border:solid 1px #c0c0c0;
	padding:10px;
	border-radius: 9px;
	width:180px;
	background-color: white;
}

.pull-left:hover , .pull-right:hover {
	color:white;
	background-color: #ff6344;
}
.pull-left a:hover , .pull-right a:hover{
	text-decoration: none;
	color:white;
}
